article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { /* 1 */
  display: block;
}

audio, canvas, video { /* 1 */
  display: inline-block;
}

audio:not([controls]) { /* 1 */
  display: none;
  height: 0;
}

[hidden] { /* 1 */
  display: none;
}

html { /* 1 */
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus { /* 1 */
  outline: thin dotted;
}

a:active, a:hover { /* 1 */
  outline: 0;
}

h1 { /* 1 */
  font-size: 2em;
}

abbr[title] { /* 1 */
  border-bottom: 1px dotted;
}

b, strong { /* 1 */
  font-weight: 700;
}

dfn { /* 1 */
  font-style: italic;
}

mark { /* 1 */
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp { /* 1 */
  font-family: monospace, serif;
  font-size: 1em;
}

pre { /* 1 */
  white-space: pre-wrap;
  word-wrap: break-word;
}

q { /* 1 */
  quotes: \2 1C \2 1D \2 18 \2 19;
}

small { /* 1 */
  font-size: 80%;
}

sub, sup { /* 1 */
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup { /* 1 */
  top: -0.5em;
}

sub { /* 1 */
  bottom: -0.25em;
}

img { /* 1 */
  border: 0;
}

svg:not(:root) { /* 1 */
  overflow: hidden;
}

fieldset { /* 1 */
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea { /* 1 */
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input { /* 1 */
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
