// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// Variables de color
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
_black = #000000;
_dark_grey = #555555;
_grey = #AAAAAA;
_blue = #0000AA;
_light_blue = #5555FF;
_green = #00AA00;
_light_green = #55FF55;
_dark_cyan = #00AAAA;
_cyan = #55FFFF;
_dark_red = #AA0000;
_red = #FF5555;
_dark_pink = #AA00AA;
_pink = #FF55FF;
_dark_yellow = #AA5500;
_yellow = #FFFF55;
_white = #FFFFFF;